* {
    margin:0;
    padding:0;
}
.body {
    background-color: #EEC373 !important;
    position:relative;
}
#loader {
    background-color:rgba(0,0,0,.95);
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index:9999;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction: column;
    position:fixed;
}
#loader img {
    width:8%;
    height:13%;
}
@media (max-width:800px) {
    #loader img {
        width:15%;
        height:13%;
    }
}
.nav {
    background-color:#333333;
    text-align:center;
}
.menu-bar img {
    width:170px;
}
.nav-link {
    color:#FCF3CF;
    font-weight:500;
    font-size:1.2rem;
    padding:.5rem .5rem;
    margin:0 .5rem;
    transition:.1s ease-in;
}
.nav-link:hover {
    color:#EEC373;
}
.active {
    color:#EEC373!important;
}
.navbar-toggler {
    outline:0.5px solid #eec373;
}
.navbar-toggler .fa {
    color:#EEC373;
}
/*.banner-image {
    background-image:linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),url(foto/facade1-edit.jpg);
    background-size:cover;
    background-position:fixed;
    width:100%;
    height:100vh;
}
.intro-text {
    z-index:2;
    color:#FCF3CF;
}*/

.carousel {
    overflow:hidden;
}
.carousel-item {
    height:100vh;
    min-height:100vh;
    background:no-repeat scroll center scroll;
    background-size:cover;
    margin:0 0 4rem;
}
.carousel-item img {
    width:100%;
    height:100%;
    overflow:hidden;
}
@media (max-width:800px){
    .carousel-item img {
        object-fit:cover;
    }
}
.carousel-item::before {
    content:"";
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background:rgba(25,25,25,.85);
}
.text-box {
    width:50%;
    color:#fff;
    position:absolute;
    top:52%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    z-index:1;
}
.text-box img {
    width:40%;
    height:40%;
}
.text-box h3 {
    font-size:1.4rem;
    text-transform:capitalize;
    text-shadow:10px 10px 0 2px #000;
    z-index:-1;
    font-weight:500;
}
.text-box span {
    font-size:2.2rem;
    font-weight: 700;
}
.text-box p {
    font-size:24px;
    font-weight:400;
    font-style:italic;
}
.text-box button {
    margin-top:1rem;
    padding:1.2rem 2.2rem;
    display:inline-block;
    outline:1px solid #EEC373;
    color:#EEC373;
    font-size:1.5rem;
    font-weight:500;
    position:relative;
    overflow:hidden;
    transition:.4s ease-in-out;
}
.text-box button:hover {
    background-color:#EEC373;
}
p {
    color:gray;
}
section {
    background-color:#fff;
    text-align:center;
}
section h2 {
    margin-bottom:2rem;
    margin-top:2rem;
}
.about-col {
    margin-bottom:1rem;
}
.about-col img {
    width:90%;
    height:80%;
    box-shadow:1px 2px 5px #333333;
}
.cazare-row {
    display:flex;
    width:90%;
    margin:2rem auto;
}
.cazare-col {
    flex-basis:31%;
    margin:20px auto;
}
.cazare-col img {
    width:100%;
    height:100%;
    cursor:pointer;
    transition:.2s ease-in;
}
.cazare-col img:hover {
    box-shadow:0 0 10px;
    transition:.2s ease-out;
}
footer {
    background-color:#333333;
    color:#FCF3CF;
    margin-top:2rem;
    position:relative;
    bottom:0;
}
footer p {
    margin:2rem;
}
footer .footer-link a {
    color:#FCF3CF;
    font-size:.8rem !important;
    display:inline-block;
    text-decoration: underline;
}
footer .footer-link a:hover,footer .footer-link a:active {
    color:#eec373;
}

/*----------------------------------------------------------------------------------*/

.sub-header {
    height:50vh;
    width:100%;
    background-image:linear-gradient(rgba(0,0,0,.9),rgba(0,0,0,.9)),url(foto/facade.jpeg);
    background-size:cover;
    background-position:0;
    box-shadow: 0 4px 4px 2px;
}
.sub-header2 {
    height:50vh;
    width:100%;
    background-image:linear-gradient(rgba(0,0,0,.9),rgba(0,0,0,.9)),url(foto/pizzerie-vedere.jpg);
    background-size:cover;
    background-position:0;
    box-shadow: 0 4px 4px 2px;
}
.sub-header3 {
    height:50vh;
    width:100%;
    background-image:linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.9)),url('foto/pizza-tinaud.jpg');
    background-size:cover;
    background-position:0;
    box-shadow: 0 4px 4px 2px;
}
.sub-header-text {
    width:50%;
    color:#fff;
    position:absolute;
    top:30%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    z-index:1;
}
.sub-header-text h1 {
    font-weight:700 !important;
    text-shadow:5px 5px 5px #000;
}
.sub-header-text h6 {
    font-weight:300 !important;
    text-shadow:5px 5px 5px #000;
}
.cazare-popup {
    background-color:rgba(0,0,0,.8);
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    z-index:9999;
    display:none;
    transition:.2s;
}
#closeBtn {
    color:#fff;
    font-size:3rem;
    position:absolute;
    right:0;
    margin-right:40px;
    transition:.1s;
}
#closeBtn:hover {
    color:#dd0000;
    cursor:pointer;
    transition:.1s;
}
.large-image {
    width:90%;
    height:80vh;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    margin-top:2rem;
    display:flex;
    justify-content:center;
    align-items:center;
}
.large-image img {
    width:60%;
    height:90%;
    margin-top:4rem;
    box-shadow:0 0 10px #000;
}
.section-header {
    text-shadow:0 2px 2px;
    text-transform:uppercase;
    margin:1rem;
}
summary {
    padding:1rem;
}
article p {
    transition:.7s ease-in-out;
}
.menu-block{
    display:inline-block;
    margin-bottom:1rem;
    padding:1rem;
}
.bordered {
    border:1px solid #EEC373;
    border-radius:1px;
}
.bottom-bordered {
    border-bottom: 1px solid #eec373;
    
}

.panino-img {
    box-shadow:2px 2px 8px 2px #333333;
    transform:scale(1);
    transition:.3s ease-in-out;
}
.panino-img:hover {
    transform:scale(1.1);
    transition:.3s ease-in-out;
}
.panino-img1 {
    display:flex;
    align-items:start;
    justify-content: end;
}
.panino-img2 {
    display:flex;
    align-items:end;
    justify-content: start;
    margin-right:-175px;
    margin-top:-110px;
}
.contact-btn {
    width:18rem;
    margin-top:1rem;
    padding:1.2rem 2.2rem;
    display:inline-block;
    border:none;
    border-radius: 8px;
    outline:2px solid #EEC373;
    background-color: #EEC373;
    color:#333333;
    font-size:1.5rem;
    font-weight:600;
    position:relative;
    overflow:hidden;
    transition:.4s ease-in-out;
}
.contact-btn:hover {
    background-color: transparent;
}
.contact-btn i {
    width:1.6rem;
    height:1.6rem;
    color:#333;
}
.rest-img1 {
    display:flex;
    align-items:start;
    justify-content: start;
    
}
.rest-img2 {
    display:flex;
    align-items:end;
    justify-content: end;
    margin-left:-250px;
    margin-top:-80px;
    position:relative;
    z-index:2;
    margin-bottom:40px;
    margin-right:30px;
}
.rest-img3 {
    display:flex;
    align-items:end;
    justify-content: end;
    margin-top:30px;
    margin-left:30px;
}
.rest-img4 {
    display:flex;
    align-items:start;
    justify-content: start;
    margin-right:-250px;
    margin-top:-80px;
}
.location-col {
    border:2px solid #EEC373;
    width:90% !important;
    height:100% !important;
    margin:20px !important;
}
.location-col iframe {
    width:100%;
    height:100%;
    margin:0;
}
@media (max-width:600px) {
    .navbar-brand img {
        width:6em!important;
    }
    .navbar-toggler {
        font-size:1em !important;
    }
    .nav-link {
        font-size:1em;
    }
    .text-box h3 span {
        font-size:1.3em;
    }
    .text-box button {
        font-size:1em;
        padding:1.2em;
    }
    .sub-header-text h1 {
        font-size:2rem;
    }
    h2 {
        font-size:1.5rem !important;
    }
    p {
        font-size:.9rem !important;
    }
    .menu-block {
        font-size:1.2rem;
    }
    .cazare-row {
        flex-wrap:nowrap;
    }
    .cazare-col {
        margin:0.2rem;
    }
    details h5 {
        font-size:1.05rem;
    }
    details h6 {
        font-size:1rem;
    }
    details p {
        font-size:0.9rem;
    }
    .section-header {
        font-size:1.3rem;
    }
    .section-logo {
        margin:0;
    }
    .large-image {
        width:100%;
        height:60vh;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        margin-top:2rem;
    }
    .large-image img {
        width:100%;
        height:70%;
        margin-top:4rem;
        box-shadow:0 0 10px #000;
    }
    .panino-img2 {
        margin-right:-75px;
        margin-top:-50px;
    }
    .rest-img2 {
        margin-left:-100px;
        margin-top:-40px;
        margin-bottom:30px;
        margin-right:20px;
    }
    .rest-img4 {
        margin-right:-60px;
        margin-top:-20px;
        width:350px;
        height:170px;
    }
    .contact-btn {
        font-size:1rem;
        width:12.5rem;
        padding:1rem;
        margin-top:1rem;
        display:block;
    }
    footer {
        display:flex !important;
        align-items:center;
        justify-content:center;
        flex-direction:column;
    }
}

.revealElement {
    position:relative;
    transform:translateY(250px);
    opacity:0;
    transition:all 0.8s ease-out;
}
.revealElement.activeReveal {
    transform:translateY(0px);
    opacity:1;
}
